.homeApp {
  align-items: center;
  margin: 2vw auto;
}

.adsbygoogle{
  width: 100%;
  height: 100%;
}

.homeHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  z-index: 999;
}

.homeAppMenu {
  float: left;
  margin-top: 15px;
  background-color: grey;
  border-radius: 25%;
}

.homeMenuStack {
  align-items: center;
}

.userSettingsBox {
  width: 20%;
  padding: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDrawerBox{
  width: 20%;
  left: 0;
}

.drawerStack{
  padding: 7rem;
  align-items: center;
  text-align: center;
}

.drawerStackLink{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

.drawerStackLinkAbout{
  position: fixed;
  bottom: 2rem;
  text-decoration: none;
}

.homeBody{
  height: 100%;
  margin: 8rem;
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
}